<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>routes</key>
	<array>
		<string>api</string>
		<string>internal</string>
	</array>
	<key>api</key>
	<array>
		<string>*</string>
		<string>get</string>
		<string>post</string>
		<string>put</string>
		<string>delete</string>
	</array>
	<key>internal</key>
	<array>
		<string>*</string>
		<string>getconfig</string>
		<string>messageTypeNotSet</string>
		<string>messageTypeAuth</string>
		<string>messageTypeSale</string>
		<string>messageTypeQuery</string>
		<string>messageTypeCredit</string>
		<string>messageTypeCreditRetailOnly</string>
		<string>messageTypeVoid</string>
		<string>messageTypeVoidPartial</string>
		<string>messageTypeSettle</string>
		<string>messageTypeTipAdjust</string>
		<string>messageTypeReAuth</string>
		<string>messageTypeReSale</string>
		<string>messageTypeReDebit</string>
		<string>messageTypeCloseBatch</string>
		<string>messageTypeAchCredit</string>
		<string>messageTypeAchDebit</string>
		<string>messageTypeAchGetCategories</string>
		<string>messageTypeAchCreateCategory</string>
		<string>messageTypeAchUpdateCategory</string>
		<string>messageTypeAchDeleteCategory</string>
		<string>messageTypeAchSetupStore</string>
		<string>messageTypeAchVoid</string>
		<string>messageTypeVaultCreateContainer</string>
		<string>messageTypeVaultCreateAchRecord</string>
		<string>messageTypeVaultCreateCreditCardRecord</string>
		<string>messageTypeVaultCreateShippingRecord</string>
		<string>messageTypeVaultDeleteContainerAndAllAsscData</string>
		<string>messageTypeVaultDeleteAchRecord</string>
		<string>messageTypeVaultDeleteCreditCardRecord</string>
		<string>messageTypeVaultDeleteShippingRecord</string>
		<string>messageTypeVaultUpdateContainer</string>
		<string>messageTypeVaultUpdateAchRecord</string>
		<string>messageTypeVaultUpdateCreditCardRecord</string>
		<string>messageTypeVaultUpdateShippingRecord</string>
		<string>messageTypeVaultQueryVault</string>
		<string>messageTypeVaultQueryVaultCreditCard</string>
		<string>messageTypeVaultQueryVaultAch</string>
		<string>messageTypeVaultQueryVaultShippingAddr</string>
		<string>messageTypeTokenToCreditCard</string>
		<string>messageTypeCreditCardToToken</string>
		<string>messageTypeTokenForTransaction</string>
		<string>messageTypeTokenForTransactionRequest</string>
		<string>messageTypeIngenicoMessage</string>
		<string>messageTypeStartScanners</string>
		<string>messageTypeStopScanners</string>
		<string>messageTypeUserInitializeHardware</string>
		<string>messageTypeProductScanned</string>
		<string>messageTypeGotoPortal</string>
		<string>messageTypeComebackFromPortal</string>
		<string>messageTypeAskToUpdateFirmware</string>
		<string>messageTypeStartUpdatingFirmware</string>
		<string>messageTypesearchForPeripherals</string>
	</array>
</dict>
</plist>
