<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levels</key>
	<array>
		<dict>
			<key>itemname</key>
			<string>Basic Needs</string>
			<key>itemtype</key>
			<integer>0</integer>
			<key>itemdescription</key>
			<string>basicneeds</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembg</string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>Words</string>
			<key>itemtype</key>
			<integer>0</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>2</integer>
			<key>itemimage</key>
			<string>itembg</string>
		</dict>
	</array>
	<key>sections</key>
	<array>
		<dict>
			<key>itemname</key>
			<string>Food and Drinks</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>Toys</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>2</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>Bathroom</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>3</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>TV</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>4</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>Outside</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>5</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>House</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>6</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>Travel</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>7</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
		</dict>
	</array>
	<key>basicneeds</key>
	<array>
		<dict>
			<key>itemname</key>
			<string>BATHROOM</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>EAT</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>2</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>DRINK</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>WATER</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>STOP</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>BREAK</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>YES</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>NO</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>ALL DONE</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>SICK</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>COLD</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>BED</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>SLEEP</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>TIRED</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>HI</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>BYE</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>PLEASE</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>THANK YOU</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>HELP</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>DADDY</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>MOMMY</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>HUG</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>MORE</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>COME</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>HELP</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>MY TURN</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>WANT</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>NOW</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>CAR</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>TOY</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>WARM</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>COLD</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
		<dict>
			<key>itemname</key>
			<string>PAIN</string>
			<key>itemtype</key>
			<integer>1</integer>
			<key>itemdescription</key>
			<string>itemdescription</string>
			<key>itemID</key>
			<integer>1</integer>
			<key>itemimage</key>
			<string>itembgsection</string>
			<key>voicetag</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
